{% extends 'base.html.twig' %}

{% block title %}Pessoa index{% endblock %}

{% block body %}
    <h1>Pessoa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Identificador</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.tipo }}</td>
                <td>{{ pessoa.identificador }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>
                    <a href="{{ path('pessoa_show', {'id': pessoa.id}) }}">show</a>
                    <a href="{{ path('pessoa_edit', {'id': pessoa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pessoa_new') }}">Create new</a>
{% endblock %}
